<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item active"><a class="nav-link" href="#">Add
							Employee</a></li> -->
							<li class="nav-item active"><a class="nav-link" th:href="@{/user/index}">Home</a></li>

				</ul>

			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Edit Employee</h4>
						<form th:action="@{/update}" method="post" th:object="${emp}">
						<input type="hidden" th:value="${emp.employeeCode}" name="employeeCode" />
						
							<div class="form-group">
								<label for="">Employee Name</label>
								<input type="text" class="form-control" name="employeeName" th:value="${emp.employeeName}" />
							</div>
							<div class="form-group">
								<label for="">Location</label>
								<input type="text" class="form-control" name="location" th:value="${emp.location}" />
							</div>
							<div class="form-group">
								<label for="">Employee Email</label>
								<input type="email" class="form-control" name="email" th:value="${emp.email}" />
							</div>
							<div class="form-group">
								<label for="">Date of Birth</label>
								<input type="text" class="form-control" name="dob" th:value="${emp.dob}" />
							</div>
							
							<button type="submit" class="btn btn-primary btn-block">Submit</button>
							
						</form>
					</div>
				</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>